@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-serif), ui-serif, Georgia, serif;
  --color-primary: #0D0C0B;
  --color-secondary: #EAE6DF;
  --color-accent: #A68A64;
}
